/* General */

table {
    border: 0;
}

h2 {
    margin: 0;
    margin-bottom: 3px;
}

/* Creation */

div.ng_widget, div.panel-heading, div.panel-body {
    border: 0;
    padding: 0;
}

div#cf {
    border: 0;
}

div#container_creation {
    float: left;
    background: white;
    border: 0;
    margin: 0;
    padding: 0;
}

div#creation {
    width: 760px;
    /* height: 550px; */
}

table.cf_table td {
    vertical-align: top;
    padding: 5px;
}

table.cf_table td div {
    border: 0;
}

/* Controls */


dl#cf_controls {
  width: 220px;
  text-align: center;
  /* overflow: auto; */
  margin: 0;
  padding: 0;
}

/* Sliders */

table.cf_table td div div {
    width: 180px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 5px;
}


/* Right Part */

div#container_training {
    border: 0;
    padding: 0;
    background: white;
    margin: 0 auto;
}

div#container_history {
    float: right;
    height: 705px;
    width: 36%;
    min-width: fit-content;
    border: 0;
    padding:0;
    background: white;
}

div#history {
    max-height: 705px;
    vertical-align: top;
    margin-bottom: 10px;
    overflow-y: auto;
}

/* Exhibitions */

dl#all_ex  {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

dl#all_ex dt {
    margin-top: 20px;
    padding: 5px 3px 3px 10px;
    background: #CCC;
    color: #333;
    font-size: 16px;
    font-weight: normal;
}

dl#all_ex dd {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;

}

dl#all_ex dt canvas {
    margin: 0;
}

table.exhibition th {
    height: 30px;
}

table.exhibition td {
    margin-bottom: 5px;
}

table.exhibition tr {
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CCC;
}


/** RESPONSIVE **/

@media all and (max-height: 710px) {

    table.cf_table td div div {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 1px;
    }

    table.cf_table td#cf_creation_td_controls {
        padding: 0; !important
        margin: 0;
    }

    dl#cf_controls {
        height: 555px;
    }

    div#container_training {
        position: fixed;
        top: 0;
        right: 50px;
        border: 0;
        padding: 0;
        background: white;
        width: 400px;
        margin: 0 auto;
        width: 400px;
    }

    div#container_history {
        height:  555px;
    }

    div#history {
        height:  555px;
    }
}

/*
@media all and (max-height: 650px) {
    .important:before {
        display: block;
        margin-bottom: 30px;
        content: "You might need to scroll down to see all sliders";
    }
}
*/
