/* Header Horizontal */

div.ng_header_position-horizontal-t > .ng_widget {
    margin-left: 20px;
    height: 150px;
}

div.ng_header_position-horizontal-t > .panel-body > div {
    vertical-align: middle;
}

div.ng_header_position-horizontal-t > .donebutton {
    float: left;
}