div#quiz form textarea {
    width: 600px;
    height: 50px;
    margin: 5px 0 20px 0;
    color: #333;
    border: 1px solid #CCC;
}

table#exbeau td {
    width: 150px;
}

table#exinn td {
    width: 150px;
}

table#exfair td {
    width: 150px;
}

p.freetext {
    margin-top: 30px;
}