div#quiz form textarea {
    width: 600px;
    height: 50px;
    margin: 5px 0 20px 0;
    color: #333;
    border: 1px solid #CCC;
}

div.choicetable, div.choicetable div.panel-heading, div.choicetable div.panel-body {
    border: 0;
    padding: 0;
}

table.choicetable td {
    word-wrap: break-word;
    border: solid 1px;
    text-align: center;    
    padding: 5px;
    width: 40px;
    background: white;
}

table.clickable td:hover {
    background: #FFE;
    cursor: pointer;
    cursor: hand;
}

table#exbeau td {
    width: 150px;
}

table#exinn td {
    width: 150px;
}

table#exfair td {
    width: 150px;
}

td.selected {
    border: 3px solid #333 !important;
    background: #FFE !important;
}

textarea.choicetable-freetext {
    margin: 0;
    margin-top: 20px !important;
    padding: 5px;
    float: left;
}

div#question {
    padding: 20px;
}