div#quiz form textarea {
    width: 600px;
    height: 50px;
    margin: 5px 0 20px 0;
    color: #333;
    border: 1px solid #CCC;
}

table td {
    word-wrap: break-word;
    border: solid 1px;
    text-align: center;    
    padding: 5px;
    width: 40px;
    background: white;
}

table td:hover {
    background: #FFE;
    cursor: pointer;
    cursor: hand;
}

table#exbeau_table td {
    width: 150px;
}

table#exinn_table td {
    width: 150px;
}

table#exfair_table td {
    width: 150px;
}

td.selected {
    border: 3px solid #333;
    background: #FFE;
}

p.freetext {
    margin-top: 20px;
}