ul, ol {
    margin: 30px 0 30px 10px;
}

li {
    margin-bottom: 20px;
}

div#container_quiz {
    margin: 0 auto;
    width: 800px;
    border: 0;
    background: #fff;
}

div#quiz {
    margin: 0 auto;
    width: 800px;
    text-align: left;
    padding: 10px;
}

div#quiz dl {
    margin: 0 auto !important;
}

div#quiz dt {
    margin-bottom: 30px;
    padding-left: 20px;
}

div#quiz dt:last-child {
    margin-bottom: 0;
}

.question {
    font-weight: bold;
}

span#insideh1 {
    font-size: 16px;
}

.quiz_result {
    font-weight: bold;
}

table#reviewSelect td, table#rewards td{
    width: 720px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

table#reviewRange td {
    width: 240px;
}

table.choicetable {
    margin-top: 10px;
    font-weight: normal;
}
