/* Submission CSS */
/* ************** */

/* Creation */

div#creation {
    border: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    text-align: center;
}

div#creation div.chernofffaces {
    text-align: center;
    text-align: center;
}

div#creation div.chernofffaces canvas {
    margin: 0 auto;
}

table.cf_table {
    margin: 0 auto;
    text-align: center;
}

/* History */

div#history {
    border: 0;
    padding: 0;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    max-height: 483px;
    vertical-align: top;
    margin-bottom: 10px;
    overflow-y: auto;
}

table#table-decision input {
    width: 98%;
    height: 98%;
}

/* Main table */

table#table-decision {
    border-spacing: 40px;
    border-collapse: separate;
    margin-top: 20px;
    margin: 0 auto;
}

table#table-decision td {
    width: 350px;
    text-align: center;
    /*vertical-align: top;
    padding: 20px; 
    cursor: pointer;
    background: #FFE; */
}

/*
table#table-decision td:hover {
    background: #FFE;
}

table#table-decision img {
    width: 50px;
}


div.ex-rules {
    margin-top: 0;
    margin-bottom: 15px;
}

table.table-rules {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

table.table-rules tr {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #CCC;
}

table.table-rules td {
    padding: 0px;
    margin: 0;
}
*/

div#div-button {
    clear: both;
    margin-top: 10px;
    text-align: center;
    border: 10px;
}

td.td-selected {
    background: #FFC;
    border: 5px solid #111;
}

td.td-not-selected {
    border: 5px solid #CCC;
}

span.td-title {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}