/* Submission CSS */
/* ************** */

/* Creation */

div#creation {
    border: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    text-align: center;
}

div#creation div.chernofffaces {
    text-align: center;
    text-align: center;
}

div#creation div.chernofffaces canvas {
    margin: 0 auto;
}

table.cf_table {
    margin: 0 auto;
    text-align: center;
}

table.cf_table td {
    vertical-align: top;
    padding: 5px;
}

table.cf_table td div {
    border: 0;
}

div.ng_widget, div.panel-heading, div.panel-body {
    border: 0;
    padding: 0;
}


/* Main table */

table#table-decision {
    border-spacing: 20px;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
}

table#table-decision td {
    padding: 20px;
    width: 350px;
    text-align: center;
    height: 50px;
    vertical-align: top;
}

table#table-decision input {
    width: 98%;
    height: 98%;
}

table.table-rules {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

table.table-rules tr {
    border-bottom: 3px solid #CCC;
    padding: 0;
    margin: 0;
}

table.table-rules td {
    padding: 0;
    margin: 0;
}

td.table-rules-left {
    width: 90%;
}

table#table-decision td:hover {
    background: #FFE;
    cursor: pointer;
}

span.title {
    font-weight: bold;
}

div.ex-column {
    border: 0;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto; 
}

div#div-button {
    clear: both;
    margin-top: 10px;
    text-align: center;
    border: 10px;
    font-size: 20px;
}

td.td-selected {
    background: #FFC;
    border: 1px solid #CCC;
    
}

td.td-not-selected {
    border: 5px solid #CCC;
}

span.td-title {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}